---
title: "Splatoon dated, Xeno pushed up"
issue: 279
preheader: "Shifting dates..."
date: "2022/04/24"
image: "https://switchweekly.com/sendy/uploads/1650635694.jpeg"
---
<extends src="src/layouts/main.html">
	<block name="intro">
		<p><component src="icon-edition.html"></component><strong>Hi</strong>, Chris here with&nbsp;your weekly update on all things Nintendo. Hope you're doing well.&nbsp;&nbsp;</p>
		<p>This week Nintendo dated&nbsp;a couple of things: <strong>Xenoblade Chronicles 3&nbsp;and Splatoon 3</strong>. Xenoblade has been moved up to July, and Splatoon has been dated for September. The release date news was accompanited by new trailers — <em>both of which are linked in the issue below</em>.</p>
		<p>Now, the Splatoon 3 trailer got me thinking: Other than being more of the same (<em>which can often be a good thing!</em>) what is it about this new version that's got you hyped? <a href="https://example.com">This tweet thread from Kate Willært</a> asked a similar question. Hit reply to this email&nbsp;if you want to share any thoughts.&nbsp;</p>
		<p>Anyway, next week we have&nbsp;<strong>15&nbsp;games</strong>&nbsp;hitting the Switch, including Nintendo Switch Sports and The Stanley Parable. Full list below for you to check out.</p>
		<p>Finally, I'm around 10 subs away from <a href="https://switchweekly.com">hitting my next YouTube sub count goal</a> — if you're not subbed already, I'd love for you to hit the button and follow along. 😊</p>
		<p>Thanks for reading.</p>
	</block>
	<block name="currently-playing">
		EarthBound, Kirby and the Forgotten Land
	</block>
	<block name="articles">
		<component src="article.html">
			<p>
				▶ <b><a href="https://www.youtube.com/watch?v=Rkz-PjCQjWk">Splatoon 3 - Release Date Revealed</a></b> — Landing in early September. The new fashion choices here looks so fresh. 😄 <em>Oh, and to mark the occasion Nintendo <a href="https://nintendoeverything.com/splatoon-2-octo-expansion-dlc-free-to-all-nintendo-switch-online-expansion-pack-members-starting-today/">added the Octo Expansion for Splatoon 2</a> to the Switch Online Expansion Pack tier.</em>
			</p>
			<p class="source">
				Nintendo // YouTube
			</p>
		</component>
		<component src="article.html">
			<p>
				<strong>
					<span style="font-size:10px">REVIEW</span>
					<a href="###" style="text-decoration:underline;color:#d20014" target="_blank" class="sw-dark-color-red">Pokémon Legends: Arceus - More than a trainer journey</a>
				</strong>
				<span style="font-size:14px;">&nbsp;—&nbsp;</span>
				"<em>does an excellent job of pushing boundaries while staying true to what has kept&nbsp;Pokémon&nbsp;popular for over two decades and is an eye-opening glimpse at what Game Freak could do in future games of the series</em>".
			</p>
			<p class="source">
				Laura Gray // Screen Rant
			</p>
		</component>
	</block>
	<block name="upcoming">
		<component locals='{"date":"2022-04-26"}' src="upcoming.html">
			<component src="upcoming-item.html">
				📦 <a href="https://www.example.com">Zombie Army 4: Dead War</a> — 1940s Europe zombie shooter with online. M for mature.
			</component>
			<component src="upcoming-item.html">
				<a href="https://www.example.com">The Serpent Rogue</a> — Potion crafting action adventure with roguelite elements.
			</component>
			<component src="upcoming-item.html">
				<a href="https://www.example.com">Pure Crosswords</a> — Over 2,000 word puzzles to solve (in British English).
			</component>
		</component>
		<component locals='{"date":"2022-04-27"}' src="upcoming.html">
			<component src="upcoming-item.html">
				🎮 <a href="https://www.example.com">Abyss Memory Fallen Angel and the Path of Magic</a> — Action/puzzler in which you draw paths with the Joy-Con.
			</component>
			<component src="upcoming-item.html">
				<a href="https://www.example.com">The Sorrowvirus</a> - A Faceless Short Story — First-person adventure to be played in one sitting. M for mature.
			</component>
			<component src="upcoming-item.html">
				<a href="https://www.example.com">Tasomachi: Behind the Twilight</a> — 3D adventure in which you traverse the world by airship.
			</component>
			<component src="upcoming-item.html">
				⭐️ <a href="https://www.example.com">The Stanley Parable: Ultra Deluxe</a> — 2013's award-winning first-person indie adventure with plenty of bonus content.
			</component>
		</component>
		<component locals='{"date":"2022-04-28"}' src="upcoming.html">
			<component src="upcoming-item.html">
				<a href="https://www.example.com">Get Packed: Couch Chaos</a> — Physics-based couch co-op removals game. Expanded edition.
			</component>
			<component src="upcoming-item.html">
				<a href="https://www.example.com">Light Fairytale Episode 1</a> — Turn-based Japanese-style RPG set in an underground world.
			</component>
			<component src="upcoming-item.html">
				<a href="https://www.example.com">Marble Maid</a> — Monkey Ball, but with a maid. M for mature. Release got bumped back it seems.
			</component>
			<component src="upcoming-item.html">
				<a href="https://www.example.com">OshiRabu: Waifus Over Husbandos + Love･or･die</a> — Visual novel bundle. M for mature.
			</component>
			<component src="upcoming-item.html">
				<a href="https://www.example.com">Transiruby</a> — Metroidvania where you explore the world as a cyborg protagonist.
			</component>
			<component src="upcoming-item.html">
				<a href="https://www.example.com">Turn Tack</a> — An 'exotic' puzzle platformer based on Aztec culture.
			</component>
		</component>
		<component locals='{"date":"2022-04-29"}' src="upcoming.html">
			<component src="upcoming-item.html">
				⭐️📦 <a href="https://www.example.com">Nintendo Switch Sports</a> — Pretend its 2006 all over again with this motion sports game.
			</component>
			<component src="upcoming-item.html">
				<a href="https://www.example.com">Nonogram Minimal</a> — A collection of 200 simple nonogram/picross puzzles.
			</component>
		</component>
	</block>
	<block name="quick-links">
		<component src="quickie.html">
			Sonic Origins is Switch bound, but it has some <a href="https://www.example.com">weird differences</a> between versions.
		</component>
		<component src="quickie.html">
			Aspyr has said <a href="https://www.example.com">if there's demand</a> for Star Wars: Rogue Squadron ports, they'll act on it.
		</component>
		<component src="quickie.html">
			A new patent filed by Nintendo may <a href="https://www.example.com">improve mini maps</a> in the likes of Splatoon 3.
		</component>
		<component src="quickie.html">
			<a href="https://www.example.com">I'm using motion controls</a>! Nintendo Switch Sports is out this week. #AD
		</component>
		<component src="quickie.html">
			What would Kirby and the Forgotten Land <a href="https://www.example.com">look like on Game Boy</a>?
		</component>
		<component src="quickie.html">
			Got an OLED Switch? <a href="https://www.example.com">Here's a look at some neat accessories</a> for it.
		</component>
		<component src="quickie.html">
			<a href="https://www.example.com">Enjoying the newsletter</a>? Why not grab me a coffee as a thanks.
		</component>
		<component src="quickie.html">
			Here's the Smash Bros. Ultimate intro <a href="https://www.example.com">recreated on a budget</a>.
		</component>
		<component src="quickie.html">
			The excellent <a href="https://www.example.com">Game + Word newsletter</a> is giving away a signed copy of a book looking at the psychology of the Legend of Zelda (and another on Final Fantasy).
		</component>
		<component src="quickie.html">
			Ace Attorney fan? To celebrate 20 years of the series, <a href="https://www.example.com">here's a vinyl LP</a> music collection.
		</component>
		<component src="quickie.html">
			Good lads: <a href="https://www.example.com">Young boys find lost Nintendo Switch, return it</a> to owner's porch.
		</component>
		<component src="quickie.html">
			As it was #EarthDay: Did you know <a href="https://www.example.com">a tree is planted</a> for each issue of Switch Weekly sent.
		</component>
	</block>
	<block name="zone3">
		<component src="support.html"></component>
	</block>
</extends>