---
title: "Splatoon dated, Xeno pushed up"
issue: 279
preheader: "Shifting dates..."
date: "2022/04/24"
image: "https://switchweekly.com/sendy/uploads/1650635694.jpeg"
---
<extends src="src/layouts/main.html">
	<block name="intro">
		<p><component src="icon-edition.html"></component><strong>Hi</strong>, Chris here with&nbsp;your weekly update on all things Nintendo. Hope you're doing well.&nbsp;&nbsp;</p>
		<p>This week Nintendo dated&nbsp;a couple of things: <strong>Xenoblade Chronicles 3&nbsp;and Splatoon 3</strong>. Xenoblade has been moved up to July, and Splatoon has been dated for September. The release date news was accompanited by new trailers — <em>both of which are linked in the issue below</em>.</p>
		<p>Now, the Splatoon 3 trailer got me thinking: Other than being more of the same (<em>which can often be a good thing!</em>) what is it about this new version that's got you hyped? <a href="https://example.com">This tweet thread from Kate Willært</a> asked a similar question. Hit reply to this email&nbsp;if you want to share any thoughts.&nbsp;</p>
		<p>Anyway, next week we have&nbsp;<strong>15&nbsp;games</strong>&nbsp;hitting the Switch, including Nintendo Switch Sports and The Stanley Parable. Full list below for you to check out.</p>
		<p>Finally, I'm around 10 subs away from <a href="https://switchweekly.com">hitting my next YouTube sub count goal</a> — if you're not subbed already, I'd love for you to hit the button and follow along. 😊</p>
		<p>Thanks for reading.</p>
	</block>
	<block name="currently-playing">
		EarthBound, Kirby and the Forgotten Land
	</block>
	<block name="articles">
		<component src="article.html">
			<p>
				▶ <b><a href="https://www.youtube.com/watch?v=Rkz-PjCQjWk">Splatoon 3 - Release Date Revealed</a></b> — Landing in early September. The new fashion choices here looks so fresh. 😄 <em>Oh, and to mark the occasion Nintendo <a href="https://nintendoeverything.com/splatoon-2-octo-expansion-dlc-free-to-all-nintendo-switch-online-expansion-pack-members-starting-today/">added the Octo Expansion for Splatoon 2</a> to the Switch Online Expansion Pack tier.</em>
			</p>
			<p class="source">
				Nintendo // YouTube
			</p>
		</component>
		<component src="article.html">
			<p>
				<strong>
					<span style="font-size:10px">REVIEW</span>
					<a href="###" style="text-decoration:underline;color:#d20014" target="_blank" class="sw-dark-color-red">Pokémon Legends: Arceus - More than a trainer journey</a>
				</strong>
				<span style="font-size:14px;">&nbsp;—&nbsp;</span>
				"<em>does an excellent job of pushing boundaries while staying true to what has kept&nbsp;Pokémon&nbsp;popular for over two decades and is an eye-opening glimpse at what Game Freak could do in future games of the series</em>".
			</p>
			<p class="source">
				Laura Gray // Screen Rant
			</p>
		</component>
	</block>
	<block name="upcoming">
		<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%; table-layout:fixed;" class="sw-upcoming">
			<tr>
				<td class="sw-upcoming-td" style="width:48px; padding-bottom:16px; vertical-align:top;">
					<component src="calendar.html">
					</component>
				</td>
				<td class="sw-upcoming-td sw-upcoming-td-list" style="padding-left:16px; padding-bottom:16px; vertical-align:bottom;">
					<ul style="margin:0; padding:0; list-style:none; color:#2d2d2d; font:16px/24px 'Helvetica Neue', sans-serif;" class="sw-text">
						<component src="upcoming.html">
							<a href="https://www.nintendo.com/games/detail/yeah-yeah-beebiss-ii-switch/">Yeah Yeah Beebiss II</a>&nbsp;— Retro-style action platformer for two players.
						</component>
					</ul>
				</td>
			</tr>
		</table>
	</block>
	<block name="quick-links">
		<component src="quickie.html">
			Charlie Day has briefly <a href="https://www.nintendoenthusiast.com/charlie-day-luigi-says-mario-movie-script-is-top-secret-theyll-break-his-neck-if-he-talks/">spoken about his role as Luigi</a> in the upcoming Mario movie.
		</component>
	</block>
</extends>