<!-- Start Icon:Edition -->
<span style="margin-right:0.2em; font-size:20px; display:inline-block; vertical-align:middle;" role="presentation">
	<span style="font-size:1em; display:block; border:0.1em solid; border-radius:0 0 0.1em 0.1em; pointer-events:none;">
		<span style="font-size:1em; display:block; padding:0.1em 0.1em 0.25em;">
			<span style="font-size:1em; display:table;">
				<span style="font-size:1em; display:table-cell; width:0.2em; border-bottom:0.25em solid;"></span>
				<span style="font-size:1em; display:table-cell; padding-left:0.05em;">
					<span style="font-size:1em; display:block; margin-bottom:0.05em; width:0.35em; border-bottom:0.1em solid;"></span>
					<span style="font-size:1em; display:block; width:0.35em; border-bottom:0.1em solid;"></span>
				</span>
			</span>
		</span>
	</span>
</span>
<!-- End Icon:Edition -->