<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%; background-color:#d40915; border-radius:8px;" class="sw-dark-background-color-red">
	<tr>
		<td style="padding:8px 16px;">
			<h2 style="display:flex; margin:0; color:#fff; font:bold 20px/30px 'Helvetica Neue', sans-serif;">
				<if condition="icon">
					<span style="width:32px; padding-right:16px; text-align:center;">{{ icon || "🦕" }}</span>
				</if>
				<content></content>
			</h2>
		</td>
	</tr>
</table>