<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%; table-layout:fixed;" class="sw-upcoming">
	<tr>
		<td class="sw-upcoming-td" style="width:48px; padding-bottom:16px; vertical-align:top;">
			<component locals='{"date":"{{ date }}"}' src="upcoming-calendar.html">
			</component>
		</td>
		<td class="sw-upcoming-td sw-upcoming-td-list" style="padding-left:16px; padding-bottom:16px; vertical-align:bottom;">
			<ul style="margin:0; padding:0; list-style:none; color:#2d2d2d; font:16px/24px 'Helvetica Neue', sans-serif;" class="sw-text">
				<content></content>
			</ul>
		</td>
	</tr>
</table>